.add {
  display: flex;
  justify-content: center;
  background-color: rgb(239, 239, 239);
  .container {
    width: 1100px;
    padding: 50px 0px;
    h1 {
      color: rgb(69, 69, 69);
      margin-bottom: 30px;
      font-weight: 400;
    }
    .sections {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      .left,
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        label {
          color: rgb(69, 69, 69);
          font-size: 18px;
        }
        input,select,textarea{padding: 20px;
        background-color: rgb(239, 239, 239) ;}
        
        button {
          border: none;
          border-radius: 5px;
          padding: 20px;
          color: white;
          font-weight: 500;
          font-size: 18px;
          background-color: #1dbf73;
          cursor: pointer;
        }
      }
    }
  }
}
